<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        {{!-- HTML5引入的元素，出现在页面顶部，提供一些与内容有关的额外语义信息，比如Logo，标题文本和导航 --}}
        <header><img src="/img/arrow-down.png" alt="Meadowlark Travel Logo"></header> 
        {{{body}}}<!-- 会被每个视图自己的HTML取代 -->
    </body>
</html>